# Ollama 服務 API 設定
OLLAMA_API_URL=http://localhost:11434/api/chat

# LLM 模型名稱設定
ANALYZER_MODEL=qwen2.5:7b
GENERATOR_MODEL=qwen2.5:7b

# Embedding 語意向量模型設定
EMBEDDING_MODEL_NAME=paraphrase-multilingual-MiniLM-L12-v2

# ChromaDB 相關設定
CHROMA_COLLECTION_NAME=ads_collection

# [PROJ_ROOT] 改成專案根目錄

CHROMA_DB_PATH=[PROJ_ROOT]/chroma_db

# SQLite3 相關設定
SQLITE_DB_FILE=[PROJ_ROOT]/scam_database.db

# 專案根目錄
PROJ_ROOT=[PROJ_ROOT]

# 資料集儲存路徑
DATASET_PATH=[PROJ_ROOT]/chroma_initiator\dataset
